:root {
    --padding-default: 5px;
}

* {
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    padding: var(--padding-default);
}
.header {
    font-size: 1.5rem ;
    text-align: center;
    border: dotted black 1px;
    padding: var(--padding-default);
}
.menu {
    text-align: center;
    border: dotted black 1px;
    padding: var(--padding-default);
}
.button {
    height: 20px;
    width: 80px;
    margin: 5px;
    border: none;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    color:black;
    background: lightgreen;
}
.button:hover {
    color:white;
    background-color: darkgreen ;
}
.button:active {
    color:white;
    background-color: darkgreen;
}
.buttonred {
    height: 20px;
    width: 80px;
    margin: 5px;
    border: none;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    color:black;
    background: lightcoral;
}
.buttonred:hover {
    color:white;
    background-color: darkred;
}
.buttonred:active {
    color:white;
    background-color: darkred;
}
.extension {
    height: 20px;
    width: 80px;
    margin: 5px;
    border: none;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    color:white;
    background:blue;
}
.extension:hover {
    color:black;
    background-color: cyan;
}
.extension:active {
    color:black;
    background-color: cyan;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropcontent {
    display: none;
    position: absolute;
    background: blue;
    z-index: 1;
}
.dropcontent a {
    background: blue;
    color: white;
    padding: 10px;
    display: block;
}
.dropcontent a:hover {
    color: black;
    background: cyan;
    transition: 0.5s;
    display: block;
}
.dropdown:hover .dropcontent {
    transition: 0.5s;
    display: block;
}
.footer {
    text-align: right;
    border: dotted black 1px;
    padding: var(--padding-default);
}
body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    row-gap: var(--padding-default);
}
.content {
    display: grid;
    grid-template-columns: 30% 1fr;
    min-height: 100%;
    column-gap: var(--padding-default);
}
.article {
    overflow: auto;
    border: dotted black 1px;
    padding: var(--padding-default);
}
.logpas{
    height: auto;
    width:fit-content;
    border: 2px solid black;
    padding: var(--padding-default);
    
}