* {
    box-sizing: border-box;
    padding: 5px;
}
html, body{
    height: 100vh;
}
.header {
    font-size: 1.5rem ;
    text-align: center;
    border: dotted black 1px;
}
.menu {
    text-align: center;
    border: dotted black 1px;
}
.footer {
    text-align: right;
    border: dotted black 1px;
}
body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
}
.content {
    display: grid;
    grid-template-columns: 30% 1fr;
    min-height: 100%;
}
.article {
    overflow: auto;
    border: dotted black 1px;
}